@import "../_config";
@import "../public/_header";
@import "../public/_footer";
.content, .ui-production{
    width: 100%;
}
.ui-top {
    display: block;
    width: 1280px;
    height: 440px;
    margin: 0 auto;
}

.ui-topPic {
    display: block;
    width: 1280px;
    height: 440px;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-active {
    width: 100%;
    height: 100%;
}
.ui-production-contact{
    width: 1200px;
    padding: 10px 0;
    margin: 0 auto;
    &>h2{
        line-height: 70px;
        font-size: 48px;
        color: #0089e9;
        font-weight: 700;
        margin-top: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .quotation{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
        height: auto;
        overflow: hidden;
        line-height: 80px;
        margin: 0 auto;
    }
    .ui-production-block{
        width: 100%;
        margin: 0 auto 30px;
        height: auto;
        overflow: hidden;
        &>ul>li{
            width: 25%;
            text-align: center;
            float: left;
            &>img{
                width: 247px;
                height: 185px;
            }
        }
    }
    .ui-production-list{
        width: 1149px;
        margin: 0 auto 20px;
        height: auto;
        overflow: hidden;
        .big{
            float: left;
            width: 564px;
            height: 449px;
        }
        .list{
            float: right;
            width: 564px;
            height: 449px;
        }
    }
}