<div class="ui-center">
    <a href="{{if active != 0}}../index/index.html{{/if}}{{if active == 0}}javascript:;{{/if}}" class="ui-logo"></a>
    <div class="ui-headerMenu">
        <ul>
            <li>
                <a href="../index/index.html" {{if active==0 }} class="active" {{/if}}>
                    Home
                </a>
            </li>
            <li>
                <a href="../prototyping/index.html" {{if active==1 }} class="active" {{/if}}>
                    Prototyping
                </a>
            </li>
            <li>
                <a href="../tooling/index.html" {{if active==2 }} class="active" {{/if}}>
                    Rapid Tooling
                </a>
            </li>
            <li><a href="../production/index.html" {{if active==3 }} class="active" {{/if}}>
                    Low-volume Production
                </a>
            </li>
            <li><a href="../contact/index.html" {{if active==4 }} class="active" {{/if}}>
                    Contact
                </a>
            </li>
        </ul>
        <!-- <div class="ui-header-prototyping"></div> -->
    </div>
</div>
